
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CountactUs</title>
</head>
<body>
    <div> 
        <h1>ContactUs</h1>
        <h2><a> href="www.google.com"</a></h2>
    </div>
</body>
</html>
