
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetNameAndFamiky</title>
</head>
<body>
    <div>
        <h1>@ViewBag.name</h1>
        <h1>@ViewBag.family</h1>
    </div>
</body>
</html>
