
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h1>HomePage</h1>
        <a href="/Default/ShowDate">ShowDate</a>

        <ul>
        @for (int i = 0; i <= 50; i++)
        {
            <li>@i</li>     
        }
        </ul>

    </div>
</body>
</html>
