
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestPartial</title>
</head>
<body>
    <div>
        @Html.Action("_PartialPage1", "Default")
        @Html.Action("_PartialPage2", "Default")
    </div>
</body>
</html>
